In [13]:
# Import required modules and packages
import re
import time
import pandas as pd
import undetected_chromedriver as uc
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [23]:
df = pd.read_csv("oh_rotten_tomatoes.csv")

In [25]:
df.head(3)

,reviewer,tagline,text,score_all,critic_type
0,Matt Wayt,We Got This Covered,The true test of 'Oppenheimer' is whether Nola...,"Full Review | Original Score: 4.5/5 | Sep 2, 2023",All Critics
1,Rachel West,AWFJ.org,Though the entire ensemble operates as a well-...,"Full Review | Aug 29, 2023",All Critics
2,Juan José Beteta,Cinencuentro,A cinematographic masterpiece... of the highes...,"Full Review | Aug 29, 2023",All Critics

In [26]:
df.tail(3)

,reviewer,tagline,text,score_all,critic_type
786,Jordan Hoffman,The Messenger,The most breathtaking film of the year.,"Full Review | Original Score: 9.2/10 | Jul 19,...",Top Critics
787,David Ehrlich,indieWire,“Oppenheimer” offers an indelible portrait of ...,"Full Review | Original Score: B | Jul 19, 2023",Top Critics
788,Nick Schager,The Daily Beast,"A divided epic of awe and horror, fission and ...","Full Review | Jul 19, 2023",Top Critics

In [42]:
df.score_all.str.split("|").str[1:-1].str[0].str.strip().str

0       Original Score: 4.5/5
1                         NaN
2                         NaN
3         Original Score: 4/4
4                         NaN
                ...
784       Original Score: 4/5
785                       NaN
786    Original Score: 9.2/10
787         Original Score: B
788                       NaN
Name: score_all, Length: 789, dtype: object

In [43]:
df = pd.read_csv("oh_rotten_tomatoes.csv")

In [49]:
df["score"].replace("Original Score: ", "", regex=True)

0       4.5/5
1         NaN
2         NaN
3         4/4
4         NaN
        ...
804       4/5
805       NaN
806    9.2/10
807         B
808       NaN
Name: score, Length: 809, dtype: object

In [50]:
df = pd.read_csv("oh_rotten_tomatoes.csv")

In [54]:
df.drop_duplicates().shape[0]

549

In [55]:
df.shape[0]

1009

In [32]:
df.score_all.str.split("|").str[-1]

0        Sep 2, 2023
1       Aug 29, 2023
2       Aug 29, 2023
3       Aug 26, 2023
4       Aug 26, 2023
           ...
784     Jul 19, 2023
785     Jul 19, 2023
786     Jul 19, 2023
787     Jul 19, 2023
788     Jul 19, 2023
Name: score_all, Length: 789, dtype: object

In [18]:
# Initialize ChromeDriverManager to manage ChromeDriver versions
chrome_manager = ChromeDriverManager()
version_main = int(chrome_manager.driver.get_browser_version_from_os().split(".")[0])
driver = uc.Chrome(
    service=Service(ChromeDriverManager().install()),
    version_main=version_main
)

dfs = []

# Open the Rotten Tomatoes page for a specific movie and collect reviews for specified critic types
driver.get("https://www.rottentomatoes.com/m/oppenheimer_2023/reviews?type=top_critics")

In [22]:
driver.find_element(By.CLASS_NAME, "review-row").text.split("\n")

['Kimber Myers',
 'Crooked Marquee',
 'TOP CRITIC',
 'This is a complex look at a complicated man, but Oppenheimer unequivocally establishes that this is a story worth telling -- and that Nolan was the perfect filmmaker to do it.',
 'Full Review | Original Score: A- | Aug 3, 2023']